.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto; 
}

a {
  background-color: transparent;
  color: darkgray;
  text-decoration: none;
}

a .menu-links {
  font-size: 30px;
  font-weight: 700;
}

a:hover {
  color: palevioletred;
}

.displayUsers {
  margin-top: 20px;
}

.addUser {
  margin-top: 50px;
  margin-bottom: 30px;
}

.displayUsers div {

  text-align: center;
}

.card {
  margin-bottom: 20px;
}

.counter {
  margin-top: 40px;
}
